[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ondisc"]
	path = ondisc
	url = https://github.com/timothy-barry/ondisc
[submodule "sceptre"]
	path = sceptre
	url = https://github.com/katsevich-lab/sceptre
	registered = false
[submodule "sceptredata"]
	path = sceptredata
	url = https://github.com/katsevich-lab/sceptredata
	registered = false
